.modal {
   /*position: absolute;*/
   top: 100px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}
.modal-dialog{
	width: 400px;
	height: 400px;
}
#cart img{
	width: 160px;
	height: 70px;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
#cart img:hover{
	width: 200px;
	cursor: pointer;

}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
	font-family: 'Cookie';
	font-style: normal;
	font-weight: 400;
	src: local('Cookie-Regular'), url(https://themes.googleusercontent.com/static/fonts/cookie/v4/pKcurCxn_Ato3MXK6jF2CA.ttf) format('truetype');
}

.location{
	font-family:verdana;
	font-size: 20;
	text-align: center;
	color: darkred;
}

.menuColumn{
	background-color: Tomato;
	height: 115px;
	align-content: center;
	/*text-shadow: 3px 2px black;*/
}

.pHomeHead{
	font-family: Cookie;
	color: darkred;
	font-size: 51px;
	text-align: center;
	text-indent: 85px;
	text-decoration-line: none;
	position: absolute;
	top: 5px;
}

.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}

.affix ~ .container-fluid {
	position: relative;
	top: 50px;
 }

.loginFields{
	font-family: Product Sans;
	color: darkred;
	position: absolute;
	right: 30px;
	top: 30px;
}

.textStyle{
	background-color: mistyrose;
	color: darkred;
}

.btnStyle{
	border-radius: 4px;
	background-color: darkred;
	color: white;
	width: 80px;
	transition-duration: 0.3s;
    cursor: pointer;
}

.btnStyle:hover{
	background-color: white;
	color: darkred;
	/*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
}

.signUpLink{
	font-family: Product Sans;
	position: absolute;
	right: 100px;
	top: 75px;
}

.headMenu{
	font-family: Product Sans;
	font-size: 30px;
	color: tomato;
	margin-top: 50px;
	text-align: center;
}

.imgColumn{
	float: left;
	width: 33.33%;
	padding: 8px;	
}

.imgCaption{
	font-family: Product Sans;
	font-size: 20px;
	color: tomato;
	text-align: center;
}

.bottom-left {
	font-family: Product Sans;
	font-size: 32px;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 25px;
	left: 28px;
}

.formStyle{
	color: darkred;
	font-family: Product Sans;	
}

.footerStyle{
	font-family: Product Sans;
	height: 230px;
	background-color: tomato;
}

a{
	color: white;
}

a:hover{
	color: darkred;
}

.navbarDesign{
	background-color: tomato;
	color: white;
	font-family: Product Sans;
	font-size: 18px;
	align-content: center;
	opacity: 0.9;
	z-index: 10000;
}

.correction{
	background-color: tomato;
}

.container{
	border: none;
}